@import "@meetinghand/style/lib/scss/variables.scss";

.ant-switch {
    min-width: 40px;
    height: 23.5px;

    border: 1.5px solid $color-primary-blue;
    box-sizing: border-box;
    border-radius: $border-radius-xxlarge;
    background: none;

    &::after {
        background-color: $color-primary-blue;
    }

    &:hover {
        background: $color-secondary-blue;
    }
}
.ant-switch-checked {
    background: $color-primary-blue;
    border-radius: $border-radius-xxlarge;
    &::after {
        background-color: $color-mono-white;
    }
    &:hover {
        background-color: $color-primary-blue;
    }
}

.ant-switch-disabled {
    border: $border-size-default solid $color-mono-grey;
    box-sizing: border-box;
    border-radius: $border-radius-xxlarge;
    background: none;
    border-color: $color-mono-grey;
    height: 22.5px;
    &::after {
        background: $color-mono-grey;
    }
    &:hover {
        background: none;
    }
}
