@import "@meetinghand/style/lib/scss/variables.scss";
@import "@meetinghand/style/lib/scss/ant/button.scss";

/* PRIMARY */
.ant-btn-primary {
	background-color: $color-primary-blue;
	border: none;

	&:hover {
		background: $color-button-hover-blue;
	}

	&.disabled {
		border: none;
		background: $transparent-hover;
		color: $color-mono-grey;

		.mh-icon {
			fill: $color-mono-grey;
		}
	}
	&.wait {
		border: none;
		background-color: rgba($color-primary-blue, 0.4);
		&:hover {
			background: rgba($color-primary-blue, 0.5);
		}
		span {
			display: none;
		}
		.mh-icon:not(.wait-spinner) {
			display: none;
		}
		.wait-spinner {
			stroke: $color-mono-white;
			fill: none !important;
		}
	}
	&.green {
		background: $color-primary-participant;
		border: none;
		&:hover {
			background: $color-button-hover-green;
		}
	}
	&.red {
		background-color: $color-primary-red;
		border: none;
		&:hover {
			background-color: $color-button-hover-red;
		}
		&.disabled {
			color: $color-mono-white;
		}
	}
}

/* PRIMARY END */

/* SECONDARY */
.ant-btn-default {
	border-color: $transparent-hover-3;
	color: $color-primary-blue;
	background-color: transparent;

	.mh-icon {
		fill: $color-primary-blue;
	}

	&:hover {
		color: $color-primary-blue;
		background: $transparent-hover;
		border-color: $transparent-hover-3;
	}

	&.disabled {
		border: $border-size-default solid $transparent-hover-3;
		background-color: transparent;
		color: $color-mono-grey;

		&:hover {
			background-color: transparent;
			border-color: $color-mono-light-grey-4;
		}

		.mh-icon {
			fill: $color-mono-grey;
		}
	}
	&.wait {
		border: none;
		background-color: rgba($color-secondary-blue, 0.4);
		&:hover {
			background: rgba($color-secondary-blue, 0.5);
		}
		span {
			display: none;
		}
		.mh-icon:not(.wait-spinner) {
			display: none;
		}
		.wait-spinner {
			stroke: $color-primary-blue;
			fill: none !important;
		}
	}
	&.red {
		border-color: $color-primary-red;
		color: $color-primary-red;
		.mh-icon {
			fill: $color-primary-red;
		}
		&:hover {
			background: $transparent-hover;
		}
	}
}
/* SECONDARY END */

/* TEXT */
.text-btn {
	border: none;
	color: $color-mono-grey-3;
	padding: 4px $spacing-xsmall;
	height: 28px;
	.mh-icon {
		fill: $color-mono-grey-3;
	}
	&:hover {
		background: $transparent-hover;
		color: $color-mono-grey-3;
	}

	&.disabled {
		border: none;
	}
	&.wait {
		background: none;
		&:hover {
			background: $transparent-hover;
		}
	}
	&.red {
		&:hover {
			color: $color-primary-red;
		}
	}
}
/* TEXT END */

/* SMALL */
.small-btn {
	font-weight: $font-weight-large;
	font-size: $font-size-large;
	line-height: $line-height-default;
	padding: 2px $spacing-xsmall;
	.mh-icon {
		max-width: 12px;
		max-height: 12px;
		margin: $spacing-xxsmall $spacing-xsmall;
	}
}
/* SMALL END */

/* ROW */
.row-btn {
	background: none;
	border: $border-size-default solid $color-mono-light-grey-5;
	min-width: 360px;
	justify-content: flex-start;

	&.alignment-right {
		justify-content: space-between;
	}

	&:hover {
		background: rgba($color-mono-black, 0.04);
		border-color: $color-mono-light-grey-5;
	}
	&.wait {
		background: none;
		border: $border-size-default solid $color-mono-light-grey-5;
		&:hover {
			background: rgba($color-mono-black, 0.04);
		}
	}
}
/* ROW END */

/* ICONIC */
.ant-btn {
	&.iconic-btn {
		background: none;
		border: $border-size-default solid $transparent-hover-3;

		.mh-icon {
			height: $icon-size-default;
			min-width: $icon-size-default;
		}

		&.size-circular {
			width: 52px;
			height: 52px;
			border-radius: $border-radius-giant;
			.mh-icon {
				height: 30px;
				min-width: 30px;
			}
		}
		&.size-normal {
			width: 44px;
			height: 44px;
		}
		&.size-small {
			width: 32px;
			height: 32px;
		}
		&.size-tiny {
			width: 24px;
			height: 24px;

			&:hover {
				width: 24px;
				height: 24px;
			}
		}
		.mh-icon {
			margin: $spacing-xxsmall;
			fill: $color-mono-grey-3;
		}
		&:hover {
			background: $transparent-hover;
		}
		&.red {
			border-color: $color-primary-red;
			.mh-icon {
				fill: $color-primary-red;
			}
		}
	}
}

/* ICONIC END */

/* SOCIAL */
.social-btn {
	&.ant-btn {
		max-width: 128px;
		height: 44px;
		border-radius: $border-radius-default;
		&.ant-btn-default {
			border: $border-size-default solid $color-mono-light-grey-5;
		}

		span {
			color: $color-mono-black;
			margin-left: 4px;
		}
		svg {
			height: 20px;
			width: 20px;
		}

		.mh-icon {
			margin-right: $spacing-xxsmall !important;
		}

		&.google {
			&:hover {
				background: #518ef8;
			}
		}
		&.facebook {
			&:hover {
				background: #314f8b;
			}
		}
		&.apple {
			&:hover {
				background: $color-mono-black;
			}
		}

		&:hover {
			border: $border-size-default solid transparent;
			span {
				color: $color-mono-white;
			}
			svg {
				path {
					fill: $color-mono-white;
				}
			}
		}
	}
}
/* SOCIAL END */

/* MENU */
.menu-btn {
	background: $color-mono-white;
	color: $color-mono-black;
	height: 52px;
	min-width: 113px;
	&.ant-btn {
		font-weight: 500;
	}
	.mh-icon {
		fill: $color-primary-blue;
		width: 20px;
		height: 20px;
		margin-right: 8px;
	}

	&.alignment-right {
		.mh-icon {
			margin-left: 8px;
			margin-right: 0px;
		}
	}
	&:hover {
		.mh-icon {
			fill: $color-mono-white;
		}
	}
}
/* MENU END */

/* LIST */

.list-btn {
	&.ant-btn {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		background: none;
		color: $color-mono-black;
		height: 44px;
		min-width: 144px;
		font-weight: 500;

		&.alignment-left {
			.mh-icon {
				margin-right: 16px;
			}
		}
		&.alignment-right {
			display: flex;
			flex-direction: row-reverse;
			justify-content: flex-end;
			.mh-icon {
				margin-left: 16px;
			}
		}
		.mh-icon {
			fill: $color-primary-blue;
			width: 20px;
			height: 20px;
		}
		&:hover {
			background: $transparent-hover;
			color: $color-mono-black;
		}
	}
}
/* LIST END */

/* TAB*/
.tab-btn {
	font-weight: $font-weight-default;
	font-size: $font-size-default;
	line-height: $line-height-default;
	color: $color-mono-black;
	border-radius: $border-radius-giant;
	border: $border-size-default solid $transparent-hover-3;
	box-sizing: border-box;
	&:hover {
		background: $transparent-hover;
		color: $color-mono-black;
		border: $border-size-default solid transparent;
	}
	&:focus {
		background: $color-mono-white;
		box-shadow: $spacing-xxsmall 4px $spacing-small $transparent-hover-3;
		border: $border-size-default solid transparent;
	}
	&:active {
		background: $color-secondary-blue;
		border: $border-size-default solid $color-primary-blue;
		box-sizing: border-box;
		box-shadow: $spacing-xxsmall 4px $spacing-small $transparent-hover-3;
	}
}
/* TAB END */

.size-large {
	width: 100%;
}
