@import "~@meetinghand/style/lib/scss/variables.scss";

.ant-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: none;
    box-shadow: none;
    border: none;
    outline: none;
    transition: background-color 0.5s ease !important;

    &.alignment-right {
        flex-direction: row-reverse;
    }

    .mh-icon {
        fill: $color-mono-white;
        margin: 0 12px;
    }
}

/* PRIMARY */
.ant-btn-primary {
    background-color: $color-primary-blue;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding: 16px 32px;
    height: auto;
    min-height: 52px;
    border-radius: 4px;

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04)), $color-primary-blue;
    }

    &.disabled {
        border: none;
        background-color: $color-mono-light-grey-4;
        color: $color-mono-grey;

        .mh-icon {
            fill: $color-mono-grey;
        }
    }
    &.wait {
        border: none;
        background-color: rgba($color-primary-blue, 0.4);
        &:hover {
            background: rgba($color-primary-blue, 0.5);
        }
        span {
            display: none;
        }
        .mh-icon:not(.wait-spinner) {
            display: none;
        }
        .wait-spinner {
            stroke: $color-mono-white;
            fill: none !important;
        }
    }
}

/* PRIMARY END */

/* SECONDARY */
.ant-btn-default {
    border: 1.5px solid $color-primary-blue;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding: 16px 32px;
    height: auto;
    min-height: 52px;
    border-radius: 4px;
    color: $color-primary-blue;

    .mh-icon {
        fill: $color-primary-blue;
    }

    &:hover {
        background: $color-secondary-blue;
        color: $color-primary-blue;
        border-color: $color-primary-blue;
    }
    &:active {
        background: $color-secondary-blue;
    }

    &.disabled {
        border: 1.5px solid $color-mono-light-grey-4;
        background-color: transparent;
        color: $color-mono-grey;

        &:hover {
            background-color: transparent;
            border-color: $color-mono-light-grey-4;
        }

        .mh-icon {
            fill: $color-mono-grey;
        }
    }
    &.wait {
        border: none;
        background-color: rgba($color-secondary-blue, 0.4);
        &:hover {
            background: rgba($color-secondary-blue, 0.5);
        }
        span {
            display: none;
        }
        .mh-icon:not(.wait-spinner) {
            display: none;
        }
        .wait-spinner {
            stroke: $color-primary-blue;
            fill: none !important;
        }
    }
}
/* SECONDARY END */

/* TEXT */
.text-btn {
    border: none;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background: rgba($color-mono-black, 0.04);
    }
    &.disabled {
        border: none;
    }
    &.wait {
        background: none;
        &:hover {
            background: rgba($color-mono-black, 0.04);
        }
    }
}
/* TEXT END */

/* SMALL */
.small-btn {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding: 2px 6px;
    .mh-icon {
        max-width: 12px;
        max-height: 12px;
        margin: 0 6px;
    }
}
/* SMALL END */

/* ROW */
.row-btn {
    background: none;
    border: 1px solid $color-mono-light-grey-5;
    min-width: 360px;
    justify-content: flex-start;

    &.alignment-right {
        justify-content: space-between;
    }

    &:hover {
        background: rgba($color-mono-black, 0.04);
        border-color: $color-mono-light-grey-5;
    }
    &.wait {
        background: none;
        border: 1px solid $color-mono-light-grey-5;
        &:hover {
            background: rgba($color-mono-black, 0.04);
        }
    }
}
/* ROW END */

/* SOCIAL */
.ant-btn-social {
    width: 360px;
    height: 52px;
    background: rgba(0, 0, 0, 0.04);
    border-radius: 4px;

    span {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;

        color: #565656;
    }
    svg {
        height: 20px;
        width: 30px;
    }

    .mh-icon {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    &.google {
        &:hover {
            background: #518ef8;
            span {
                color: #ffffff;
            }
        }
    }
    &.facebook {
        &:hover {
            background: #314f8b;
            span {
                color: #ffffff;
            }
        }
    }
    &.linkedin {
        &:hover {
            background: #006ca8;
            span {
                color: #ffffff;
            }
        }
    }
}
/* SOCIAL END */

.size-large {
    min-width: 360px;
}
