@import "@meetinghand/style/lib/scss/variables.scss";
.abstract-preview-content {
    background: $color-mono-light-grey;
    padding: $spacing-xxlarge;
    .abstract-authors-names {
        display: flex;
        flex-direction: row;
        margin-right: 4px;
        p {
            font-weight: $font-weight-large;
            font-size: $font-size-large;
            line-height: $line-height-default;
            white-space: nowrap;
        }
        sup {
            font-size: $font-size-large;
            vertical-align: super;
            font-size: $font-size-small;
            margin-left: 4px;
        }
        &.presenter-author {
            p {
                text-decoration: underline;
            }
            sup::after {
                content: ", *";
            }
        }
        &:last-child {
            margin-bottom: $spacing-default;
        }
        &:not(:last-child) {
            &::after {
                content: ",";
            }
        }
    }
    .abstract-authors-info {
        span {
            font-weight: normal;
            font-size: $font-size-large;
            line-height: $line-height-default;
            text-align: center;
        }
        span:not(:last-child) {
            &::after {
                content: ",";
                margin-right: 4px;
            }
        }
        sup {
            vertical-align: super;
            font-size: $font-size-small;
            margin-right: 4px;
        }
        &:last-child {
            margin-bottom: $spacing-xxxlarge;
        }
    }
    .abstract-flex-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .abstract-flex-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .abstract-file-preview {
        .abstract-bb:not(:last-child) {
            border-bottom: $border-size-default solid $transparent-hover-3;
            padding-bottom: $spacing-default;
            margin-bottom: $spacing-default;
        }
        .file-preview-title {
            font-style: normal;
            font-weight: $font-weight-default;
            font-size: $font-size-default;
            line-height: $line-height-default;
            color: $color-mono-black;
            margin-bottom: $spacing-default;
        }
        .file-preview-header {
            .file-preview-title {
                text-align: center;
                margin-bottom: $spacing-small;
            }
            p {
                font-weight: normal;
                font-size: $font-size-xlarge;
                line-height: $line-height-large;
                text-align: center;
                color: $color-mono-black;
            }
        }
        .file-preview-authors {
            display: flex;
            flex-direction: column;
            .author-row {
                ul {
                    li {
                        .author-info {
                            span:not(:last-child) {
                                &::after {
                                    content: ",";
                                    margin-right: 4px;
                                }
                            }
                        }
                        &:not(:last-child) {
                            margin-bottom: $spacing-xxsmall;
                        }
                    }
                }
                &:not(:last-child) {
                    margin-bottom: $spacing-default;
                }
            }
        }
        .abstract-files {
            .file-row {
                &:not(:last-child) {
                    margin-bottom: $spacing-default;
                }
                .ant-btn {
                    a {
                        color: unset;
                    }
                }
            }
        }
        .disc-list {
            ul {
                margin-left: $spacing-default;
                li {
                    list-style: disc;
                    p {
                        font-weight: $font-weight-default;
                        font-size: $font-size-default;
                        line-height: $line-height-default;
                        color: $color-mono-black;
                    }
                    span {
                        font-weight: normal;
                        font-size: $font-size-default;
                        line-height: $line-height-default;
                        color: $color-mono-black;
                    }
                    &:not(:last-child) {
                        margin-bottom: $spacing-small;
                    }
                }
            }
        }
    }

    .abstract-text-preview {
        .file-preview-title {
            font-style: normal;
            font-weight: $font-weight-default;
            font-size: $font-size-default;
            line-height: $line-height-default;
            color: $color-mono-black;
            margin-bottom: $spacing-default;
        }
        h3 {
            font-weight: $font-weight-large;
            font-size: $font-size-default;
            line-height: $line-height-default;
            margin-bottom: $spacing-xxlarge;
            text-align: left;
        }
        h1 {
            font-weight: $font-weight-large;
            font-size: $font-size-xxlarge;
            line-height: $line-height-xlarge;
            margin-bottom: $spacing-xxlarge;
            text-align: center;
        }

        .abstract-body {
            h2 {
                font-weight: $font-weight-large;
                font-size: $font-size-large;
                line-height: $line-height-default;
                margin-bottom: $spacing-default;
                margin-bottom: $spacing-xxlarge;
            }
        }
        .abstract-keywords {
            margin-top: $spacing-xxlarge;
            p {
                font-weight: $font-weight-default;
                font-size: $font-size-default;
                line-height: $line-height-default;
                color: $color-mono-black;
                margin-right: 4px;
                span {
                    font-weight: $font-weight-small;
                    font-size: $font-size-default;
                    line-height: $line-height-default;
                    color: $color-mono-black;
                    &:not(:last-child) {
                        &::after {
                            content: ",";
                            margin-right: 4px;
                        }
                    }
                }
            }
        }
        .abstract-references {
            h2 {
                margin-bottom: $spacing-small;
            }
            margin-top: $spacing-default;
            ul {
                margin-left: $spacing-default;
                li {
                    list-style: decimal;
                }
            }
        }
    }
}
