@import "~@meetinghand/style/lib/scss/variables.scss";

@mixin arrow-icon($fill: "%23b6b6b6") {
	background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='" + $fill + "' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.67278 0.712862L13.1171 5.39917C13.6008 5.90919 13.5685 6.71776 13.0456 7.18754C12.5423 7.63975 11.7704 7.60888 11.3048 7.11793L7 2.57876L2.69518 7.11793C2.22957 7.60888 1.45768 7.63975 0.954362 7.18754C0.431494 6.71777 0.399162 5.9092 0.882852 5.39917L5.32722 0.712864C6.22863 -0.237617 7.77137 -0.237622 8.67278 0.712862Z' /%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;
}

.mh-dropdown {
	min-width: 168px;
	.ant-select-selector {
		box-shadow: none !important;
		border: 1px solid $color-mono-grey;
		border-radius: 4px;
		width: auto !important;
		height: auto !important;
		padding: 0 !important;
		min-height: 62px;
		&:hover {
			background-color: $transparent-hover;
			border-color: $color-mono-grey !important;
		}
		.ant-select-selection-item {
			padding: 16px;
			font-family: Inter;
			font-size: 16px;
			line-height: 20px;
			display: flex;
			align-items: center;
		}
		.ant-select-selection-search {
			left: 0;
			width: 100%;
			display: flex;
			align-items: center;
			padding: 0 16px;

			.ant-select-selection-search-input {
				font-size: 16px;
				line-height: 20px;
				height: 16px;
			}
		}
		.ant-select-selection-placeholder {
			padding: 16px;
		}
	}
	&.ant-select-disabled {
		.ant-select-selector {
			background: $color-mono-light-grey-5;
		}
	}
}
