@import "@meetinghand/style/lib/scss/variables.scss";
@import "@meetinghand/style/lib/scss/mixins.scss";
@import "@meetinghand/style/lib/scss/icons.scss";
.questions {
    margin-bottom: $spacing-default;
    .question {
        margin-top: $spacing-default;
    }
    .question-checkbox {
        label {
            font-weight: $font-weight-default;
            font-size: $font-size-default;
            line-height: $line-height-default;
            color: $color-mono-black;
        }
    }
    &.deep-2 {
        margin-left: $spacing-default;
    }
    &.deep-3 {
        margin-left: $spacing-default;
    }
}

.question {
    margin-bottom: $spacing-default;
    &.questions {
        margin-top: $spacing-default;
    }
}

.question-file {
    .file-upload-title {
        font-weight: $font-weight-small;
        font-size: $font-size-xlarge;
        line-height: $line-height-large;
        color: $color-mono-black;
        margin-bottom: $spacing-default;
    }
    .file-button-label {
        font-weight: $font-weight-default;
        font-size: $font-size-default;
        line-height: $line-height-default;
        color: $color-mono-black;
        margin-bottom: $spacing-xsmall;
        display: block;
    }
    .file-upload-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        width: 100%;
        input {
            display: flex;
            min-height: 44px;
            width: fit-content;
        }
        .file-button {
            display: flex;
            flex-direction: row;
            align-items: center;
            background: $color-mono-light-grey-2;
            border-radius: $border-radius-default;
            padding: $spacing-medium;
            cursor: pointer;
            width: 100%;
        }
        .file-upload-button {
            .mh-icon {
                width: $icon-size-default;
                height: $icon-size-default;
                fill: $color-mono-grey-2;
                margin-right: $spacing-medium;
            }
            span {
                font-weight: 600;
                font-size: $font-size-default;
                line-height: $line-height-default;
                color: $color-mono-grey-2;
            }
        }
        .file-download-button {
            display: flex;
            flex-direction: row;
            align-items: center;
            .mh-icon {
                width: $icon-size-default;
                height: $icon-size-default;
                fill: $color-primary-green;
                margin-right: $spacing-medium;
            }
            a {
                display: block;
                font-weight: $font-weight-small;
                font-size: $font-size-default;
                line-height: $line-height-default;
                color: $color-mono-grey-3;
                width: 100%;
            }
        }
        .mh-iconic-button {
            margin-left: $spacing-default;
        }
    }
}

.question-radio {
    label {
        font-weight: $font-weight-default;
        font-size: $font-size-default;
        line-height: $line-height-default;
        color: $color-mono-black;
    }
    .mh-radio {
        margin-top: $spacing-default;
        font-weight: normal;
        font-size: $font-size-default;
        line-height: $line-height-default;
        color: $color-mono-black;
    }
    .other-input {
        margin-top: $spacing-medium;
    }
}

.question-checkbox {
    label {
        &.mh-checkbox {
            margin-top: $spacing-default;
            font-weight: normal;
            font-size: $font-size-default;
            line-height: $line-height-default;
            color: $color-mono-black;
        }
    }
    .mh-input__error {
        margin-left: 0;
        margin-top: $spacing-medium;
    }
}

.question-textarea {
    .mh-text-area {
        width: 100%;
    }
}

.question-checkbox,
.question-radio,
.question-select > .mh-select,
.question-country > .mh-select,
.mh-date-picker .mh-date-picker-label {
    > label {
        @include flex-row(flex-start, center);
        svg {
            margin-left: $spacing-small;
            width: $icon-size-default;
            height: $icon-size-default;
            fill: $color-mono-grey-2;
        }
    }
}
