@import "@meetinghand/style/lib/scss/variables.scss";

.mh-tooltip {
    background-color: $color-mono-white;
    .ant-tooltip-inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: $spacing-default;

        border: $border-size-default solid $color-mono-light-grey-5;
        box-sizing: border-box;
        border-radius: $border-radius-default;
        box-shadow: 0px 4px 8px rgba($color-mono-black, 0.08);

        color: $color-mono-grey-3;

        font-style: normal;
        font-weight: normal;
        font-size: $font-size-small;
        line-height: $line-height-small;
    }
}
