@import "~@meetinghand/style/lib/scss/reset.scss";
@import "~@meetinghand/style/lib/scss/colors.scss";
@import "~@meetinghand/style/lib/scss/typography.scss";

.mh-tooltip {
    background-color: $color-mono-white;
    .ant-tooltip-inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px;

        position: relative;

        background-color: $color-mono-white;
        border: 1.5px solid $color-mono-light-grey-5;
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0px 4px 8px rgba($color-mono-black, 0.08);

        color: $color-mono-grey-3;

        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
    }
}
