@import "../../../style/lib/scss/variables.scss";
@import "../../../style/lib/scss/ant/switch.scss";
.ant-switch {
    &::after {
        background-color: $color-primary-blue;
        top: 1.5px;
    }
    &:hover {
        background: $color-secondary-blue;
    }
}

.ant-switch-checked {
    background: $color-primary-blue;
    border-radius: $border-radius-giant;
    &::after {
        background-color: $color-mono-white;
    }
    &:hover {
        background-color: $color-primary-blue;
    }
}

.ant-switch-disabled {
    border: $border-size-default solid $color-mono-grey;
    border-color: $color-mono-grey;
    &.ant-switch-checked {
        background: #b6b6b6;
        &::after {
            background-color: $color-mono-light-grey-5;
        }
        &:hover {
            background-color: $color-mono-grey;
        }
    }
    &::after {
        background: $color-mono-grey;
        top: 1.5px;
    }
    &:hover {
        background: none;
    }
}