@import "~@meetinghand/style/lib/scss/reset.scss";
@import "~@meetinghand/style/lib/scss/colors.scss";
@import "~@meetinghand/style/lib/scss/typography.scss";

@mixin plus-icon($fill: "%23b6b6b6") {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='" + $fill + "' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 3C9.27513 3 8.6875 3.58763 8.6875 4.3125V8.6875H4.3125C3.58763 8.6875 3 9.27513 3 10C3 10.7249 3.58763 11.3125 4.3125 11.3125H8.6875V15.6875C8.6875 16.4124 9.27513 17 10 17C10.7249 17 11.3125 16.4124 11.3125 15.6875V11.3125H15.6875C16.4124 11.3125 17 10.7249 17 10C17 9.27513 16.4124 8.6875 15.6875 8.6875H11.3125V4.3125C11.3125 3.58763 10.7249 3 10 3Z' /%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}
@mixin minus-icon($fill: "%23b6b6b6") {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='" + $fill + "' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.125 11.125C4.50368 11.125 4 10.6213 4 10C4 9.37868 4.50368 8.875 5.125 8.875L14.875 8.875C15.4963 8.875 16 9.37868 16 10C16 10.6213 15.4963 11.125 14.875 11.125L5.125 11.125Z' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

.ant-input-number {
    width: auto;
    min-width: 168px;
    height: 52px;
    border: 1px solid $color-mono-grey;
    box-shadow: none !important;
    border-radius: 4px;
    background-color: transparent;
    &:hover {
        background-color: $transparent-hover;
        border-color: $color-mono-grey;
    }
    &:focus-within {
        border: 1px solid $color-primary-blue;
    }
    .ant-input-number-handler-wrap {
        opacity: 1;
        width: 100%;
        height: 100%;
        border: none;
        background-color: transparent;
        .ant-input-number-handler-down,
        .ant-input-number-handler-up {
            position: absolute;
            width: 32px;
            height: 32px;
            top: 50%;
            margin-top: -16px;
            border: 0 !important;
            box-shadow: none;
            &:active {
                background-color: transparent !important;
            }
            &:hover {
                background-color: $transparent-hover;
                height: 32px !important;
            }
        }
        .ant-input-number-handler-down {
            @include minus-icon();
            left: 8px;
            .ant-input-number-handler-down-inner {
                display: none;
            }
        }
        .ant-input-number-handler-up {
            @include plus-icon();
            right: 8px;
            .ant-input-number-handler-up-inner {
                display: none;
            }
        }
    }
    .ant-input-number-input-wrap {
        position: relative;
        width: 70px;
        height: 100%;
        margin: 0 auto;
        input {
            padding: 0;
            text-align: center;
            height: 100%;
            color: $color-mono-black;
            font-size: 16px;
            line-height: 20px;
            outline: none !important;
        }
    }

    &.error {
        border: 1px solid $color-primary-red;
        .ant-input-number-handler-wrap {
            .ant-input-number-handler-down {
                @include minus-icon("%23f44336");
            }
            .ant-input-number-handler-up {
                @include plus-icon("%23f44336");
            }
        }
    }
    &.ant-input-number-disabled {
        background-color: $color-mono-light-grey;
        border: 1px solid $color-mono-light-grey-5;
        .ant-input-number-input-wrap {
            input {
                color: $color-mono-grey;
            }
        }
        .ant-input-number-handler-wrap {
            display: block;
        }
    }
}
