@import "@meetinghand/style/lib/scss/variables.scss";
@import "@meetinghand/style/lib/scss/icons.scss";

.ant-input-number {
    width: auto;
    min-width: 168px;
    height: 52px;
    border: $border-size-default solid $color-mono-grey;
    box-shadow: none !important;
    border-radius: $border-radius-default;
    background-color: transparent;
    &.currency-input {
        min-width: 180px;
    }
    &:hover {
        background-color: $transparent-hover;
        border-color: $color-mono-grey;
    }
    &:focus-within {
        border: $border-size-default solid $color-primary-blue;
    }
    .ant-input-number-handler-wrap {
        opacity: 1;
        width: 100%;
        height: 100%;
        border: none;
        background-color: transparent;
        .ant-input-number-handler-down,
        .ant-input-number-handler-up {
            position: absolute;
            width: $spacing-xlarge;
            height: $spacing-xlarge;
            top: 50%;
            margin-top: -16px;
            border: $spacing-xxsmall !important;
            box-shadow: none;
            &:active {
                background-color: transparent !important;
            }
            &:hover {
                background-color: $transparent-hover;
                height: $spacing-xlarge !important;
            }
        }
        .ant-input-number-handler-down {
            @include minus-icon();
            left: $spacing-small;
            .ant-input-number-handler-down-inner {
                display: none;
            }
        }
        .ant-input-number-handler-up {
            @include plus-icon();
            right: $spacing-small;
            .ant-input-number-handler-up-inner {
                display: none;
            }
        }
    }
    .ant-input-number-input-wrap {
        position: relative;
        width: calc(100% - 96px);
        height: 100%;
        margin: $spacing-xxsmall auto;
        input {
            padding: $spacing-xxsmall;
            text-align: center;
            height: 100%;
            color: $color-mono-black;
            font-size: $font-size-default;
            line-height: $line-height-default;
            outline: none !important;
        }
    }

    &.error {
        border: $border-size-default solid $color-primary-red;
        .ant-input-number-handler-wrap {
            .ant-input-number-handler-down {
                @include minus-icon("%23f44336");
            }
            .ant-input-number-handler-up {
                @include plus-icon("%23f44336");
            }
        }
    }
    &.ant-input-number-disabled {
        background-color: $color-mono-light-grey;
        border: $border-size-default solid $color-mono-light-grey-5;
        .ant-input-number-input-wrap {
            input {
                color: $color-mono-grey;
            }
        }
        .ant-input-number-handler-wrap {
            display: block;
        }
    }
    &.ant-input-number-focused {
        .ant-input-number-handler-down {
            @include minus-icon("%232196f3");
        }
        .ant-input-number-handler-up {
            @include plus-icon("%232196f3");
        }
    }
}
