@import "@meetinghand/style/lib/scss/variables.scss";
@import "@meetinghand/style/lib/scss/icons.scss";
@import "./ant-date-picker.scss";

/* MH Styles */
.ant-calendar-picker {
	div:first-of-type {
		position: relative;
	}

	.ant-calendar-picker-input {
		height: 44px;
		border-radius: $border-radius-default;
	}

	&.error {
		.ant-calendar-picker-input {
			border-color: $color-primary-red !important;
		}
		svg {
			fill: $color-primary-red;
		}
		.ant-calendar-range-picker-input {
			border-color: $color-primary-red;
		}
		.ant-calendar-range-picker-input {
			background-color: $color-secondary-red;
		}
		.ant-calendar-range-picker-separator {
			width: 24px;
			position: relative;
			&::before {
				@include arrow-icon("%23f44336");
			}
			&::after {
				@include arrow-icon("%23f44336");
			}
		}
		&.mh-range-picker-opened {
			.ant-calendar-range-picker-separator {
				&::before,
				&::after {
					@include arrow-icon("%23f44336");
				}
			}
		}
	}
	.ant-calendar-picker-icon {
		fill: $color-mono-grey;
		width: $spacing-large;
		height: $spacing-large;
		margin-top: -9px;
		right: $spacing-default;
	}
}

.ant-calendar-picker-container {
	.ant-calendar-picker-container-content {
		margin-top: 60px;
		width: 320px;
		padding: 24px;

		background: $color-mono-white;
		border: $border-size-default solid $color-mono-light-grey-5;
		box-sizing: border-box;

		box-shadow: 0px 12px 16px $shadow-1;
		border-radius: $border-radius-default;

		.ant-calendar-panel {
			.ant-calendar-input-wrap {
				display: none;
			}
			.ant-calendar-header {
				border-bottom: none;
				height: 24px;
				line-height: $line-height-large;
				margin-bottom: 20px;
				.ant-calendar-next-month-btn,
				.ant-calendar-next-year-btn,
				.ant-calendar-prev-month-btn,
				.ant-calendar-prev-year-btn {
					line-height: $line-height-large;
					&:after,
					&:before {
						border-color: $color-mono-black;
					}
				}
			}
			.ant-calendar-my-select {
				a {
					color: $color-mono-black;
					font-family: $primaryFont;
					font-weight: $font-weight-default;
					font-size: $font-size-default;
					line-height: $line-height-default;
				}
			}
			.ant-calendar-body {
				padding: $spacing-xxsmall;
				.ant-calendar-column-header-inner {
					font-weight: $font-weight-large;
					font-size: $font-size-small;
					line-height: $line-height-small;
					color: $color-mono-grey-2;
					text-transform: uppercase;
				}
				.ant-calendar-cell {
					padding: $spacing-xxsmall;
					margin: $spacing-xxsmall;
					height: auto;
					div {
						display: flex;
						justify-content: center;
						align-items: center;
					}
					&::before {
						display: none;
					}
					&.ant-calendar-selected-day {
						.ant-calendar-date {
							background: none;
						}
					}
					.ant-calendar-date {
						font-size: $font-size-default;
						line-height: $line-height-default;
						color: $color-mono-black;
						font-family: $primaryFont;
						font-weight: normal;
						width: 100%;
						height: 20px;
						margin: 4px $spacing-xxsmall;
						padding: $spacing-small $spacing-xxsmall;
						height: 100%;
						display: block;
						border-radius: 50%;
						&:hover {
							background: $transparent-hover;
						}
					}
					&.ant-calendar-today {
						.ant-calendar-date {
							border: none;
							color: $color-primary-blue;
						}
					}
					&.ant-calendar-selected-date {
						.ant-calendar-date {
							color: $color-mono-white;
							background: $color-primary-blue;
						}
					}
				}
				.ant-calendar-last-month-cell,
				.ant-calendar-next-month-btn-day {
					.ant-calendar-date {
						color: $color-mono-grey;
					}
				}
				.ant-calendar-disabled-cell {
					.ant-calendar-date {
						color: $color-mono-grey;
					}
				}
			}
			.ant-calendar-footer {
				display: none;
			}
		}
	}
	.ant-calendar-range {
		width: 592px;
		.ant-calendar-date-panel {
			.ant-calendar-range-right,
			.ant-calendar-range-left {
				width: 46%;
			}
			.ant-calendar-range-middle {
				display: none;
			}
			.ant-calendar-body {
				.ant-calendar-selected-start-date,
				.ant-calendar-selected-end-date {
					background: none;
					.ant-calendar-date {
						color: $color-mono-white;
						background: $color-primary-blue !important;
					}
				}
				.ant-calendar-in-range-cell {
					.ant-calendar-date {
						transition: none;
						background: $transparent-hover;
						border-radius: $border-radius-small;
					}
				}
			}
		}
	}
}

.mh-range-picker {
	width: 540px;
	.ant-calendar-picker-input {
		border: none !important;
		padding: $spacing-xxsmall !important;
		background: none !important;
		box-shadow: none !important;
		input {
			border: $border-size-default solid $color-mono-grey;
			box-sizing: border-box;
			border-radius: $border-radius-default;
			padding: $spacing-default;
			text-align: left;
			&:hover {
				background-color: $transparent-hover;
			}
			&:active {
				background-color: $color-secondary-blue;
				border: $border-size-default solid $color-primary-blue;
			}
		}
		.ant-calendar-picker-icon {
			display: none;
		}
	}

	.ant-calendar-range-picker-input {
		width: 258px;
	}

	.ant-calendar-range-picker-separator {
		width: 24px;
		position: relative;
		&::before {
			@include arrow-icon();
			content: "";
			width: $icon-size-small;
			height: $icon-size-small;
			display: block;
			position: absolute;
			right: 41px;
			top: 15px;
		}
		&::after {
			@include arrow-icon();
			content: "";
			width: $icon-size-small;
			height: $icon-size-small;
			display: block;
			position: absolute;
			left: 251px;
			top: 15px;
		}
	}

	&.mh-range-picker-opened {
		input {
			background-color: $color-secondary-blue;
			border: $border-size-default solid $color-primary-blue;
		}
		.ant-calendar-range-picker-separator {
			&::before,
			&::after {
				@include arrow-icon("%232196f3");
				transform: rotate(180deg);
			}
		}
	}
}

.ant-calendar-month-panel-cell {
	vertical-align: middle;
}

.ant-calendar-year-panel-cell {
	vertical-align: middle;
}

.ant-input-disabled {
	.ant-calendar-range-picker-input:active {
		border-color: $color-mono-light-grey-5 !important;
		background-color: $color-mono-light-grey !important;
	}
}

.error {
	.ant-calendar-range-picker-input:active {
		border-color: $color-primary-red !important;
		background-color: $color-secondary-red !important;
	}
}
