@import "~@meetinghand/style/lib/scss/variables.scss";

.ant-modal-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 12px;

	position: relative;

	background: $color-mono-white;

	border: 1px solid $color-mono-light-grey-5;
	box-sizing: border-box;
	box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.16);
	border-radius: 8px;
	.ant-modal-header {
		height: 32px;
		left: 48px;
		top: 48px;
		padding: 0;
		width: 100%;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 32px;
		text-align: center;
		color: $color-mono-black;
	}

	.ant-modal-body {
		padding: 48px;
		font-size: 16px;
		line-height: 20px;
		color: $color-mono-black;

		h1 {
			font-weight: bold;
			font-size: 24px !important;
			line-height: 32px;
			color: $color-mono-black;
			margin: 16px 0 !important;
		}
		.warning {
			.mh-icon {
				width: 48px;
				height: 42px;
				margin-left: 0;
				margin-top: 0px;
			}
		}
		.success {
			padding: 16px 0;
			.mh-icon {
				width: 77px;
				height: 77px;
			}
		}
	}
	.ant-modal-footer {
		border-top: none;
		padding: 48px;
	}
	.ant-modal-close {
		svg {
			width: 14px;
			height: 14px;
			fill: $color-mono-grey;
			position: relative;
			right: -7px;
			top: -7px;
			fill: $color-mono-black;
		}
	}
}

.mh-modal-center {
	text-align: center;
}

.ant-modal-mask {
	background: $color-mono-black;
	opacity: 0.8;
}
